header {
    display: flex;
}

* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
  }

#scores {
    float: left;
    padding: 5px;
    margin: 0;
}

#scores:hover {
    cursor: pointer;
}

button {
    cursor: pointer;
}

#timer {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    margin: 0px;
}

#start-container {
    text-align: center;
    padding-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#start-container p {
    line-height: 1.5;
}

#question-container {
    text-align: center;
    padding-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#score-container {
    text-align: center;
    padding-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#highscores-container {
    text-align: center;
    padding-top: 103.5px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.hide {
    display: none;
}